@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.cdnfonts.com/css/the-scientist");

body {
  font-family: "Poppins", sans-serif;
}

.font-sans {
  font-family: "Poppins", sans-serif;
}

.backgronud-login {
  background: rgb(0, 124, 168);
  background: linear-gradient(
    0deg,
    rgba(0, 124, 168, 1) 0%,
    rgba(172, 71, 29, 1) 100%
  );
}
.backgronud-login-button {
  background: rgba(172, 71, 29, 1);
}
